@page "/prestamos/crear"
@page "/prestamos/editar/{Id:int}"
<EditForm Model="@Prestamo" OnValidSubmit="Send">
<h1>@Titulo</h1>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <div class="row g3">
            <div class="col-md-6 col-lg-6">
                <label>Cliente</label>
                <select @bind="@Prestamo.ClienteId" class="form-select" id="validationDefault01">
                <option selected disabled value="">Elegir...</option>
                @if(Clientes!=null){
                    @foreach (var cliente in Clientes)
                    {
                        <option selected value="@cliente.Id">@cliente.Nombre</option>
                    }
                }
                </select>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Usuario</label>                                
                <select @bind="@Prestamo.UsuarioId" class="form-select" id="validationDefault01">
                <option selected disabled value="">Elegir...</option>
                @if(Usuarios!=null){
                    @foreach (var usuario in Usuarios)
                    {
                        <option selected value="@usuario.Id">@usuario.Name</option>
                    }
                }
                </select>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Fecha de Prestamo</label>
                <InputText class="form-control" @bind-value="Prestamo.Fecha_prestamo"></InputText>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Tasa de Interes</label>
                <InputText class="form-control" @bind-value="@Prestamo.Tasa_interes"></InputText>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Monto</label>
                <InputText class="form-control" @bind-value="@Prestamo.Monto"></InputText>
            </div>
            <div class="col-md-6 col-lg-6">
                <label>Plazo</label>
                <InputText class="form-control" @bind-value="@Prestamo.Plazo"></InputText>
            </div>
        </div>
    </div>
    
    
    <button type="submit" class="mt-2 btn btn-success">Ok</button>
</EditForm>

@code
{
[Parameter]
public int Id { get; set; } = 0;

public string Titulo => Id>0? "Editar Prestamo":"Hacer Prestamo";

public List<ClienteRecord> Clientes {get;set;} = new List<ClienteRecord>();

public List<UsuarioRecord> Usuarios {get;set;} = new List<UsuarioRecord>();

public PrestamoUpdateRequest Prestamo { get; set; } = new PrestamoUpdateRequest();

protected override async Task OnInitializedAsync()
{
    var response_cliente = await clientesManager.GetAsync();
        if(response_cliente.Succeeded){
            Clientes = response_cliente.Items.ToList();
        }

    var response_usuario = await usuariosManager.GetAsync();
        if(response_usuario.Succeeded){
            Usuarios = response_usuario.Items.ToList();
        }

    if(Id!=0){
        var resultado = await prestamosManager.GetByIdAsync(Id);
        if(resultado.Succeeded){
            Prestamo.Id = resultado.Data.Id;
            Prestamo.Fecha_prestamo = resultado.Data.Fecha_prestamo;
            Prestamo.Monto = resultado.Data.Monto;
            Prestamo.Tasa_interes = resultado.Data.Tasa_interes;
            Prestamo.ClienteId = resultado.Data.Cliente.Id;
            Prestamo.UsuarioId = resultado.Data.Usuario.Id;
            StateHasChanged();
        }
    }
}
        
public async void Send()
{
    var resultado = await prestamosManager.CreateAsync(Prestamo);

    if(resultado.Succeeded) urlHelper.NavigateTo("/prestamos");

}

}

